@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flexbox-container($padding: 0) {
    padding: $padding;
    margin: 0;
    list-style: none;
    @include flexbox();
}

@mixin flex-flow($direction, $wrap: wrap) {
    -webkit-flex-flow: $direction $wrap;
    flex-flow: $direction $wrap;
}

@mixin img-size($width, $picWidth: 960, $picHeight: 522) {
    width: $width;
    //height: auto;
    height: $width / $picWidth * $picHeight;
}

@mixin strech-list() {
    width: 100%;
    img {
        display: block;
        margin: 10px auto;
    }
}

@mixin link-style($color, $display: inline-block) {
    text-decoration: none;
    display: $display;
    color: $color;
    padding: 0.5em 1.5em;
    border-radius: 1.5em;
}

@mixin link-hover($background, $color: white) {
    color: $color;
    background-color: $background;
}




  