@charset 'utf-8';
@import '_mixins';
@import '_variables';

%absolute-position {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; 
}

%flex-layout {
    display: -webkit-flex;
    display: flex;
    @include flex-align(center);
    justify-content: center; 
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header {
    position: relative;
    #header-background {
        display: block;
        min-height: 360px;
        @include img-size(100vw, 1920, 900);
        @media screen and (max-width: 600px) {
            content: url('./img/hero1_small.png');
            @include img-size(100vw, 100, 90);
        }
    }
}

// navigation section
nav {
    @extend %absolute-position;
    z-index: 1;
}

// navigation bar - should change style based on screen width
.navigation {
    display: inline-block;
    @include flexbox-container(10px);
    @include flex-flow(row);

    // nav-bar align to right
    justify-content: flex-end;
    align-items: center;

    // logo should align to the left;
    li:first-child {
        margin-right: auto;
    }

    .logo {
        max-width: 100%; 
        height: auto;    
    }

    // nav-link style
    a {
        @include link-style(white, block);

        &:hover {
            @include link-hover(rgb(247,148,29));
        }
    }

    @include media-screen($max-width) {
        // nav-links and logo occupy a new row respectively
        justify-content: space-around;
        li:first-child {
            @include strech-list();
        }
    }

    @include media-screen(600px) {
        // each nav-links occupy a new row
        @include flex-flow(column);
        padding: 0;

        li {
            @include strech-list();
        }
        
        a { 
          text-align: center; 
          padding: 10px;
          border-top: 1px solid rgba(255,255,255,0.3); 
          border-bottom: 1px solid rgba(0,0,0,0.1); 
        }
    }
}

.highlights {
    // overlay on the (background) image when screen is wide enough
    @extend %absolute-position;
    @extend %flex-layout;
    height: 100%;

    div {
        width: 60%;
        color: white;
    }

    @include media-screen($max-width) {
        position: static;
        background-color: rgb(147, 171, 188);
        
        div {
            width: 80%;
        }
    }
}

.welcome {
    width: 100%;
    padding: 10px 0;
    background-color: rgb(226,226,226);

    // content centered in the middle
    div {
        width: 60%;
        margin: auto;

        @include media-screen($max-width) {
            width: 80%
        }
    }

    // link styles
    a {
        @include link-style($light-red);

        &:hover {
            @include link-hover($light-red)
        }
    } 
}

// use flexbox to display all contents
.content {
    @include flexbox-container();
    @include flex-flow(row);

    // reverse the even-th row;
    &-reverse {
        @include flex-flow(row-reverse);
        @include media-screen($max-content-width) {
            @include flex-flow(row);
        }
    }

    /* place img by the side of paras when screen is wide enough,
       place one by one when screen is small */
    img,
    .paragraph {
        @include img-size(50vw);
        @include media-screen($max-content-width) {
            @include img-size(100vw);
        }
    }

    // make paragraph section a flexbox
    .paragraph {
        @extend %flex-layout;
        overflow: scroll;
        
        div {
            width: 80%;
        }

        // change align to flex-start when screen width reduced
        @include media-screen($max-width) {
            align-items: flex-start;
        }

        // change height to auto when all the contents are displayed in its own row
        @include media-screen($max-content-width) {
            height: auto;
            @include flex-align(center);
            min-height: 300px;
        }

        p {
            font-size: 12px;
        }
    }

    a {
        @include link-style($light-red);
        border: 1px solid $light-red;
        margin-bottom: 10px;

        &:hover {
            @include link-hover($light-red);
        }
    }
    
}

