@import '_mixins';
@import '_variables';

body {
    margin: 0;
}

header {
    position: relative;
    #logo {
        display: block;
        @include size(100vw, 1920, 900);
        @media screen and (max-width: 600px) {
            @include size(100vw, 110, 100);
        }
    }
}

nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navigation {
    display: inline-block;
    @include flexbox-container();
    @include flex-flow(row);
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
    li:first-child {
        margin-right: auto;
    }

    a {
        @include link-style(white);
        display: block;

        &:hover {
            background-color: #F7941D;
        }
    }

    @media screen and (max-width: 850px) {
        justify-content: space-around;
        li:first-child {
            width: 100%;
        }
    }


    @media screen and (max-width: 600px) {
        @include flex-flow(column);
        padding: 0;

        li {
            width: 100%;
        }
        
        a { 
          text-align: center; 
          padding: 10px;
          border-top: 1px solid rgba(255,255,255,0.3); 
          border-bottom: 1px solid rgba(0,0,0,0.1); 
        }
    }
}

.highlights {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        width: 60%;
        color: white;
    }

    @media screen and (max-width: 850px) {
        position: static;
        background-color: #E2E2E2;
        
        div {
            width: 80%;
            color: black;
        }
    }
}

.welcome {
    width: 100%;
    padding: 20px 0;
    background-color: #E2E2E2;

    div {
        width: 60%;
        margin: auto;
        @media screen and (max-width: 850px) {  
            width: 80%
        }
    }

    a {
        @include link-style($light-red);
        font-size: 16px;

        &:hover {
            color: white;
            background-color: $light-red;
        }
    }

   
    
}

.content {
    @include flexbox-container();
    @include flex-flow(row);

    &-reverse {
        @include flex-flow(row-reverse);
        @media screen and (max-width: 600px) {
            @include flex-flow(row);
        }
    }

    img,
    .paragraph {
        display: flex;
        align-items: center;
        justify-content: center;

        @include size(50vw);
        @media screen and (max-width: 600px) {
            //should change a little bit aspect ratio
            @include size(100vw);
        }

        div {
            width: 80%;
            
        }
    }

    .paragraph {
        @media screen and (max-width: 600px) {
            height: auto;
        }
    }

    a {
        @include link-style($light-red);
        border: 1px solid $light-red;
        display: inline-block;

        &:hover {
            color: white;
            background-color: $light-red;
        }

    }
    
}
