@import '_mixins';

header {
    height: 500px;
    background-image: url('./img/hero1.jpg');
}

nav {
    padding: 20px 10px;
    img {
        float: left;
        height: 80px;
    }
}

.navigation {
    margin: 0;
    list-style: none;
    display: inline-block;

    @include flexbox();
    @include flex-flow(row);
    justify-content: flex-end;

    a {
        text-decoration: none;
        display: block;
        padding: 1em;
        color: white;
        border-radius: 20px;

        &:hover {
            background-color: #F7941D;
        }
    }

    @media all and (max-width: 800px) {
        justify-content: space-around;
    }

    @media all and (max-width: 600px) {
        @include flex-flow(column);
        padding: 0;
        
        a { 
          text-align: center; 
          padding: 10px;
          border-top: 1px solid rgba(255,255,255,0.3); 
          border-bottom: 1px solid rgba(0,0,0,0.1); 
        }
    }
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    @include flexbox();
    @include flex-flow(row);
    justify-content: center;
}

.flex-item {
    @media screen and (min-width: 500px) {
        @include img-size(50%);
    }
    @media screen and (max-width: 500px) {
        @include img-size(100%);
    }

    & img {
        height: 100%;
        width: 100%;
    }
}
