nav, .highlights {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; }

.highlights, .content .paragraph {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center; }

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

header {
  position: relative; }
  header #header-background {
    display: block;
    min-height: 360px;
    width: 100vw;
    height: 46.875vw; }
    @media screen and (max-width: 600px) {
      header #header-background {
        content: url("./img/hero1_small.png");
        width: 100vw;
        height: 90vw; } }

nav {
  z-index: 1; }

.navigation {
  display: inline-block;
  padding: 10px;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center; }
  .navigation li:first-child {
    margin-right: auto; }
  .navigation .logo {
    max-width: 100%;
    height: auto; }
  .navigation a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 0.5em 1.5em;
    border-radius: 1.5em; }
    .navigation a:hover {
      color: white;
      background-color: #f7941d; }
  @media screen and (max-width: 900px) {
    .navigation {
      justify-content: space-around; }
      .navigation li:first-child {
        width: 100%; }
        .navigation li:first-child img {
          display: block;
          margin: 10px auto; } }
  @media screen and (max-width: 600px) {
    .navigation {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      padding: 0; }
      .navigation li {
        width: 100%; }
        .navigation li img {
          display: block;
          margin: 10px auto; }
      .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); } }

.highlights {
  height: 100%; }
  .highlights div {
    width: 60%;
    color: white; }
  @media screen and (max-width: 900px) {
    .highlights {
      position: static;
      background-color: #93abbc; }
      .highlights div {
        width: 80%; } }

.welcome {
  width: 100%;
  padding: 10px 0;
  background-color: #e2e2e2; }
  .welcome div {
    width: 60%;
    margin: auto; }
    @media screen and (max-width: 900px) {
      .welcome div {
        width: 80%; } }
  .welcome a {
    text-decoration: none;
    display: inline-block;
    color: #ff3d00;
    padding: 0.5em 1.5em;
    border-radius: 1.5em; }
    .welcome a:hover {
      color: white;
      background-color: #ff3d00; }

.content {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  /* place img by the side of paras when screen is wide enough,
     place one by one when screen is small */ }
  .content-reverse {
    -webkit-flex-flow: row-reverse wrap;
    flex-flow: row-reverse wrap; }
    @media screen and (max-width: 650px) {
      .content-reverse {
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap; } }
  .content img,
  .content .paragraph {
    width: 50vw;
    height: 27.1875vw; }
    @media screen and (max-width: 650px) {
      .content img,
      .content .paragraph {
        width: 100vw;
        height: 54.375vw; } }
  .content .paragraph {
    overflow: scroll; }
    .content .paragraph div {
      width: 80%; }
    @media screen and (max-width: 900px) {
      .content .paragraph {
        align-items: flex-start; } }
    @media screen and (max-width: 650px) {
      .content .paragraph {
        height: auto;
        -webkit-align-items: center;
        align-items: center;
        min-height: 300px; } }
    .content .paragraph p {
      font-size: 12px; }
  .content a {
    text-decoration: none;
    display: inline-block;
    color: #ff3d00;
    padding: 0.5em 1.5em;
    border-radius: 1.5em;
    border: 1px solid #ff3d00;
    margin-bottom: 10px; }
    .content a:hover {
      color: white;
      background-color: #ff3d00; }

/*# sourceMappingURL=styles.css.map */
